<nav class="navbar navbar-dark">
  <div class="container d-flex">
    <a href="/" class="nav-brand">
      <img src="../../assets/icons/logoHeader.svg" alt="logo" />
    </a>

    <ul class="navbar-nav ml-auto md-hide">
      <li class="nav-item active"><a href="">DASHBOARD</a></li>
      <li class="nav-item"><a href="">CONTENT</a></li>
      <li class="nav-item"><a href="">USERS</a></li>
      <li class="nav-item"><a href="">REPORTS</a></li>
      <li class="nav-item"><a href="">ADMIN</a></li>
    </ul>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <img src="../../assets/icons/alerts.svg" alt="" />
      </li>
      <li class="nav-item">
        <img src="../../assets/icons/announcements.svg" alt="" />
      </li>
      <li class="nav-item">
        <img src="../../assets/images/profile.jpeg" alt="" />
      </li>
    </ul>

    <button class="nav-toggler">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</nav>
