<nav class="navbar-fixed navbar-dark">
  <div class="container d-flex">
    <a routerLink="/" class="nav-brand mr-auto">
      <img src="../../assets/icons/logoHeader.svg" alt="logo" />
    </a>

    <ul class="navbar-nav ml-auto md-hide" *ngIf="isDashboard">
      <li
        class="nav-item"
        *ngFor="let link of navLinkList"
        [ngClass]="{ active: activeLink === link }"
        (click)="activeLink = link"
      >
        <a>{{ link }}</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-md-auto" *ngIf="isDashboard">
      <li class="nav-item dropdown">
        <img
          src="../../assets/icons/alerts.svg"
          (click)="isAlertsOpen = !isAlertsOpen"
          alt="alerts"
        />
        <div class="dropdown-menu" [ngClass]="{ open: isAlertsOpen }">
          alerts
        </div>
      </li>
      <li class="nav-item dropdown">
        <img
          src="../../assets/icons/announcements.svg"
          (click)="isAnnouncementsOpen = !isAnnouncementsOpen"
          alt="announcements"
        />
        <div class="dropdown-menu" [ngClass]="{ open: isAnnouncementsOpen }">
          announcements
        </div>
      </li>
      <li class="nav-item">
        <img src="../../assets/images/profile.jpeg" alt="profile" />
      </li>
    </ul>

    <div class="dropdown">
      <button class="nav-toggler" (click)="isMenuOpen = !isMenuOpen">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <div class="dropdown-menu" [ngClass]="{ open: isMenuOpen }">menu</div>
    </div>
  </div>
</nav>
