<nav class="navbar-fixed navbar-dark">
  <div class="container d-flex">
    <a href="/" class="nav-brand">
      <img src="../../assets/icons/logoHeader.svg" alt="logo" />
    </a>

    <ul class="navbar-nav ml-auto md-hide">
      <li
        class="nav-item"
        *ngFor="let link of navLinkList"
        [ngClass]="{ active: activeLink === link }"
        (click)="activeLink = link"
      >
        <a>{{ link }}</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <img src="../../assets/icons/alerts.svg" alt="alerts" />
      </li>
      <li class="nav-item">
        <img src="../../assets/icons/announcements.svg" alt="announcements" />
      </li>
      <li class="nav-item">
        <img src="../../assets/images/profile.jpeg" alt="profile" />
      </li>
    </ul>

    <button class="nav-toggler">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</nav>
